.header__lang-link {
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
	margin-right: 18px;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.header__lang-link:last-of-type {
	margin-right: 0;
}

.header__lang-link:hover {
	text-decoration: underline;
	opacity: 0.7;
}

.header__lang-link_active {
	color: #fff;
	text-decoration: underline;
}

@media screen and (max-width: 560px) {
	.header__lang-link {
		font-size: 18px;
		line-height: 20px;
	}
}