.cover__link {
	color: #fff;
	text-decoration: none;
	background-color: rgba(42, 44, 47, 0.3);
	transition: background-color 0.5s ease;
	min-height: 57.81vw;
	width: 92.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 1280px) {
	.cover__link {
		width: 1184px;
		min-height: 740px;
	}
}

@media screen and (max-width: 1024px) {
	.cover__link {
		width: 100%;
		min-height: 640px;
	}
}

@media screen and (max-width: 768px) {
	.cover__link {
		min-height: 480px;
	}
}

@media screen and (max-width: 560px) {
	.cover__link {
		min-height: 200px;
	}
}

.cover__link:hover {
	background-color: rgba(42, 44, 47, 0.8);
}