.page {
	font-family: 'Inter', Arial, sans-serif;
	box-sizing: border-box;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: #2A2;
}

@media screen and (min-width: 1280px) {
	.page{
		width: 1280px;
	}
}