.places {
	width: 77.65vw;
	margin: 0 auto 90px auto;
}

@media screen and (min-width: 1280px) {
	.places {
		width: 994px;
	}
}

@media screen and (max-width: 1024px) {
	.places {
		width: 90.63vw;
		margin-bottom: 92px;
	}
}

@media screen and (max-width: 768px) {
	.places {
		width: 93.75vw;
		margin-bottom: 86px;
	}
}

@media screen and (max-width: 560px) {
	.places {
		width: 100vw;
		margin-bottom: 66px;
	}
}