.lead {
	margin: 0 auto 94px auto;
	width: 100%;
}

@media screen and (min-width: 1280px) {
	.lead {
		width: 984px;
	}
}

@media screen and (max-width: 1024px) {
	.lead {
		width: 90.63vw;
		margin-bottom: 90px;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		width: 100%;
		margin-bottom: 88px;
	}
}

@media screen and (max-width: 560px) {
	.lead {
		margin-bottom: 64px;
	}
}