.header {
	width: 92.5vw;
	padding-top: 28px;
	margin: 0 auto 55px auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

@media screen and (min-width:1280px) {
	.header {
		width: 1184px;
	}
}

@media screen and (max-width:1024px) {
	.header {
		width: 90.63vw;
		margin-bottom: 48px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		width: 93.75vw;
	}
}

@media screen and (max-width: 560px) {
	.header {
		width: 90vw;
		padding-top: 16px;
		align-items: center;
	}
}