.places__li_text {
	width: 37.81vw;
}


@media screen and (max-width: 1024px) {
	.places__li_text {
		width: 44.5vw;
	}
}

@media screen and (max-width:768px) {
	.places__li_text {
		width: 45.8vw;
	}
}

@media screen and (max-width:560px) {
	.places__li_text {
		width: 90vw;
		margin: 0 auto;
	}
}