.footer__link {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.footer__link:hover {
	opacity: 0.7;
}

.footer__link:hover .cover {
	opacity: 0.5;
}

@media screen and (max-width: 663px) {
	.footer__link{
		font-size: 12px;
		line-height: 14px;
	}
}

@media screen and (max-width: 560px) {
	.footer__link{
		font-size: 24px;
		line-height: 24px;
	}
}