.lead__title {
	text-align: center;
	padding: 0;
	margin: 0 auto 36px auto;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	width: 720px;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
	.lead__title {
		width: 93.75vw;
	}
}

@media screen and (max-width: 716px) {
	.lead__title {
		font-size: 60px;
		line-height: 62px;
	}
}

@media screen and (max-width: 560px) {
	.lead__title {
		width: 90vw;
		font-size: 40px;
		line-height: 44px;
		margin-bottom: 16px;
	}
}