.places__li_link {
	margin-bottom: 48px;
	max-width: 456px;
	align-self: end;
}

@media screen and (max-width: 768px) {
	.places__li_link {
		max-width: 352px;
	}
}

@media screen and (max-width: 320px) {
	.places__li_link {
		width: 90vw;
		margin: 0 auto 32px auto;
		align-self: flex-start;
	}
}