.cover {
	margin: 0 auto 92px auto;
	background-image: url(../../Images/Cover/__background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



@media screen and (max-width: 1024px) {
	.cover {
		margin-bottom: 94px;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		margin-bottom: 88px;
	}
}

@media screen and (max-width: 560px) {
	.cover {
		margin-bottom: 64px;
	}
}
