.places__place {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto 76px auto;
	width: 77.65vw;
}

@media screen and (min-width: 1280px) {
	.places__place {
		width: 984px;
	}
}

@media screen and (max-width: 1024px) {
	.places__place {
		width: 90.62vw;
	}
}

@media screen and (max-width: 768px) {
	.places__place {
		width: 93.75vw;
		margin-bottom: 74px;
	}
}

@media screen and (max-width: 560px) {
	.places__place {
		flex-direction: column;
		width: 100vw;
		margin-bottom: 50px;
	}
}
