.cover__title {
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	padding: 19.1vw 0 0 0;
	margin: 0 auto 32px auto;
	width: 560px;
	height: 152px;
}

@media screen and (min-width: 1280px) {
	.cover__title {
		padding-top: 245px;
	}
}